body {
    background-image: url(../photos/ad.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.font_back {
    font-family: 'candara';
    font-weight: 700;
    position: relative;
   
    

}




.header {
    position: absolute;
    top: 200px;
    left: 415px;
    right: 445px;
    font-size: x-large;
    font-weight: 900;
    background-color: #000000;
    width: 500px;
    height: 100px;
    border-radius: 50px;
    display: grid;
    place-items: center;
}


.movie {
    position: absolute;
    top: 900px;
    left: 50px;
    
}

.poster {
    position: absolute;
    left: 500px;
    top: 400px;
}

.graph {
    background-color: #a6a6a6;
    width: 1000px;
    height: 100px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rbga(0,0,0,0.15);
    
}

.content-table tbody tr {
    background-color: #a6a6a6;
    color: #000000
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #990000;


}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f2f2f2
}

.content-table tr:last-of-type {
    border-bottom: 2px solid #990000;
}

.content-table td {
    padding: 12px 15px;
    color: #000000
}



.button {
    text-decoration: none;
    font-family: 'candara';
    border-radius: 10px;
    width: 200px;
    height: 30px;
    background-color: black;
    color: #ea1509;
    display: grid;
    place-items: center;

}

