*{
    margin-top:0px;
}
.nav
{
    list-style-type: none;
    margin:0 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background: black;
}

.unav img{
    float:left;
    width:20%;
    margin-left:-40px;
    margin-bottom:-40px;
    margin-top:-50px;

}
.nav li
{
    float:right;
}
.nav li a
{
    display: block;
    color: #d3d3d3;
    text-align: center;
    padding: 23px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.nav li a:hover
{
  background-color: #111;
*{
    margin-top:0px;
}


